/*============
		General 
============*/
* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Lato', sans-serif;
}

.flex-container {
	display: flex;	
	align-items: center;
	justify-content: space-evenly;	
}

button {
	margin-top: 12px;
	padding: 8px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	color: #FFF;
	background: #6A5C9D;
}

button:hover {
	cursor: pointer;
	background: #8074AB;
}

input[type=checkbox] {
	transform: scale(1.2);
	margin-right: 10px;
}

/*============
		Header 
============*/
header {
	flex-direction: column;
	height: 120px;
	background: #55458F;
	color: #FFF;
}

h1 {
	font-size: 36px;
}

header p {
	color: #B6AEC2;
}

/*============
		 Menu 
============*/
.menu {
	position: relative;
	padding: 30px;
	background: #EAE8F1;
	flex-wrap: wrap;
	align-items: stretch;
}

.menu > * {
	margin: 0 10px;
}

#add, #searchbar {
	padding: 10px;
	width: 100%;
	font-size: 18px;	
	border: 1px solid #6A5C9D;
}

div.wrap {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.wrap > * {
	margin: 0 10px;
}

#add {
	flex: 2;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

#add:before {
	content: '+';
	position: relative;
	left: -6px;
}

#searchbar {
	flex: 5;
}

.menu span {
	flex: 2;
	text-align: right;
	color: #444;
	font-weight: bold;
	font-size: 22px;
}

.menu #filter_tags {
	flex: 4.7;
}

.menu label {
	text-transform: capitalize;
	line-height: 22px;
	font-size: 16px;
}
/*=================
		Contact List 
=================*/
.contacts_list {
	padding: 30px;
}

.contacts_list h2 {
	font-size: 24px;
}

.contacts_list ul {
	font-size: 0;
}

.contacts_list li {
	display: inline-block;
	margin: 30px auto;
	padding: 0 10px;
	width: 100%;
	font-size: 16px;	
}

.contacts_list button {
	width: 46%;
	background: #7D70A9;
}

.contacts_list button:hover {
	background: #A299C2;
}

dt {
	margin-top: 15px;
	color: #444;
}

dd {
	margin-top: 3px;
	color: #666;
	font-size: 18px;
	font-weight: 300;	
}

.contacts_list li.message {
	padding: 20px;
	width: 100%;	
	font-size: 20px;
	text-align: center;	
	background: #EAE8F1;
	border-radius: 4px;	
}

strong {
	font-weight: bold;
}
/*=================
		Contact Form 
=================*/
.contact_form {
	display: none;
	padding: 30px;
	margin: 0 auto;
	max-width: 600px;	
}

.contact_form h2 {
	padding-bottom: 20px;
	font-size: 26px;
	text-align: center;
	border-bottom: 1px solid #DDD;
}

.contact_form dl {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 45px;
	margin: 10px 0;
}

.contact_form dt {
	margin: 0;
	padding-right: 15px;
	width: 175px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
}

dt.placeholder {
	display: none;
}

.contact_form dd {
	flex: 1;
}

dl.tags {
	margin: 20px 0;
}

.contact_form dd > input {
	padding: 5px;
	width: 100%;
	font-size: 18px;
	border: 1px solid #BBB;
	border-radius: 3px;
}

#input_tags li {
	margin: 4px 0;
}

.submit {
	display: flex;
	justify-content: space-between;
}

.submit button {
	margin: 0;
	padding: 10px;
	width: 48%;
	font-weight: bold;
	text-transform: uppercase;
}

.invalid label {
	color: #D85D5D;
}

.invalid dd > input {
	border: 1px solid #D85D5D;
}

.invalid small {
	font-size: 14px;
	color: #D85D5D;
}
/*============
		Footer 
============*/
footer:before {
	content: "";
	margin-left: 10px;
}

footer {
	margin: 0 auto;
	padding: 20px;
	color: #555;
	font-weight: 300;
}

div.upper-border {
	border-top: 1px solid #DDD;
	padding-top: 15px;
}

/*==================
		Media Queries 
==================*/
@media screen and (min-width: 480px) {
	.contacts_list li {
		width: 50%;
	}

	.contact_form dd {
		margin-right: 30px;
	}

	dt.placeholder {
		display: block;
	}	
}

@media screen and (min-width: 700px) {
	.menu {
		flex-wrap: nowrap;
		align-items: center;
	}

	.contacts_list li {
		width: 33%;
	}

	.menu span {
		font-size: 18px;
	}

	div.wrap {
		margin: 0;
		width: 200px;
	}
}

@media screen and (min-width: 900px) {
	.contacts_list li {
		width: 33%;
	}

	main {
		display: flex;
	}

	.menu {
		display: block;		
		flex: 1;
		padding-top: 60px;
		max-width: 500px;
	}

	.menu > * {
		margin: 0 0 20px 0;
	}

	.menu span {
		font-size: 20px;
	}

	.contacts_list {
		flex: 3;
	}

	.contact_form {
		width: 600px;
	}

	footer {
		border-top: 1px solid #DDD;
	}

	div.upper-border {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.contacts_list li {
		width: 25%;
	}

	.contacts_list ul {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1600px) {
	.contacts_list li {
		width: 20%;
	}

	.contacts_list ul {
		max-width: 1200px;
	}
}